<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<!-- Res=ources-->
			<div id="Resources" class="pad-bottom-l">
	            <div class=" pad-top-l">
	                <h2 class="entry-title color-white">Resources</h2>
	                <div class="entry-content">
	                    <p><a href="https://parkingpolicy.files.wordpress.com/2015/04/mtc-vpp-parking-project-presentation.pptx">MTC VPP Parking Project Presentation (PPT Download)</a>
	                    </p>
	                </div>
	            </div>
	        </div>

    	</div> 
        <!-- end content -->
    </div>
</section>