<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<!-- Overview -->
	        <div id="policy-overview" class="pad-bottom-l">
		        <h1 class="color-blue">Overview</h1>
	        </div>
	        

    	</div> 
        <!-- end content -->
    </div>
</section>