<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<div id="KeyDefinitions" class="pad-bottom-l">
	            <div class="row pad-top-l">
	                <h2 class="entry-title page-header">Key Definitions</h2>
	                <div class="entry-content">
	                    <p><strong>Externality:</strong> An externality is an economic term referring to the cost or benefit that is produced by one party but affects another party.</p>
	                    <p><strong>Single Occupancy Vehicle (SOV):</strong> SOV is a private vehicle that transports only the driver, and no passengers.</p>
	                    <p><strong>Price Elasticity of Demand:</strong> Price elasticity of demand measures the rate of change in the quantity demanded in response to a unit change in the price.</p>
	                    <p><strong>Ridesharing:</strong> Ridesharing refers to a mode of travel including vanpooling or carpooling, where one vehicle carries multiple passengers.</p>
	                    <p><strong>Business Improvement District (BID):</strong> A BID is a non-profit organization of a defined commercial area where businesses pay a separate tax in order to fund projects to improve the district, often with the goal of drawing customers to the area.</p>
	                    <p><strong>Travel Demand Management (TDM):</strong> Travel Demand Management ecompasses all the tools used to manage transportation systems and traffic congestion.</p>
	                    <p><strong>Scenario Analysis:</strong> Scenario analysis in transportation modeling includes considering future alternatives, while comparing and analyzing the alternative outcomes.</p>
	                </div>
	            </div>
	        </div>

    	</div> 
        <!-- end content -->
    </div>
</section>