<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<div id="TravelModelOne" class="pad-bottom-l">
	            <div class="row pad-top-l">
	                <h1 class="entry-title">Travel Model One</h1>
	                <div class="entry-content">
	                    <p>Travel Model One is the name given to the Metropolitan Transportation Commission’s (MTC’s) regional travel demand model. The model is used for a wide array of analyses, generally done in the context of long range (i.e., 20 to 30 years) planning. Typical analyses include the following: assessing the performance of proposed transportation infrastructure projects; assessing the likely air quality and greenhouse gas impacts of long-range land use and transportation plans; and, assessing the likely impact of myriad transport-related policies, including roadway pricing and expanded transit service.</p>
	                    <p>The travel model explicitly represents the impact of parking prices and parking subsidies on location and mode choice decisions. This allows analysts to assess the regional impacts of policies that increase (or decrease) parking prices, such as mandated reductions in supply, or expose more (or fewer) travelers to parking prices through changes in employer-provided subsidy regulations.</p>
	                    <p>The regional nature of the tool leaves it ill-suited to inform policy debates about smaller-scale or more-nuanced parking policies that are often effective at changing behavior. For example, the travel model exposes travelers only to the cost of parking, not the difficulty in obtaining parking. It may be that many users would gladly pay more for a reserved (or likely available) spot. Further, the model’s representations of space and land use are fairly coarse, leaving it unable to comment on the ability of proximate businesses to share parking or to differentiate between a discount grocer and a Whole Foods market.</p>
	                </div>
	
	            </div>
	        </div>
    	</div> 
        <!-- end content -->
    </div>
</section>