<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<!-- Policy question -->
			<div id="PolicyQuestions" class="pad-bottom-l">
	            <div class=" pad-top-l">
	                <h2 class="entry-title page-header">Policy Questions</h2>
	                <div class="entry-content">
	                    <h2>Policy Questions</h2>
	                    <p>Eleven policy questions have been developed to structure and guide the Value Pricing Pilot (VPP) regional parking project’s (“the Project”) policy analysis and best practices research. This site introduces the approach to addressing the issues raised in the Project by itemizing the eleven policy questions identified in the study, explaining its purpose, and discussing analytical, modeling, policy, and/or expert research on the topic. The methods outlined below will be used to address these policy questions throughout the Project timeline:
	                        <a href="#_ftn1" name="_ftnref1"></a>
	                    </p>
	                    <ol>
	                        <li>Information gleaned from literature review, including:</li>
	                    </ol>
	                    <p style="padding-left:60px;">• Current best practices, particularly relating to pricing, and</p>
	                    <p style="padding-left:60px;">• Existing academic research.</p>
	                    <ol start="2">
	                        <li>Focused research, including:</li>
	                    </ol>
	                    <p style="padding-left:60px;">• Applications of best practice policies relating to pricing,</p>
	                    <p style="padding-left:60px;">• Analysis of applications and how they relate to the Bay Area, and</p>
	                    <p style="padding-left:60px;">• Analysis of surveys that have been conducted for studies within the Bay Area.</p>
	                    <ol start="3">
	                        <li>Original work of this effort, including :</li>
	                    </ol>
	                    <p style="padding-left:60px;">• Modeling and analysis through UrbanSim and Travel Model One,</p>
	                    <p style="padding-left:60px;">• Analysis of new and existing parking data,</p>
	                    <p style="padding-left:60px;">• Visual and quantitative analysis of new and existing data using GIS, and</p>
	                    <p style="padding-left:60px;">• Expert panel review and analysis.</p>
	                    <p>Within this site, the discussion on each policy question includes the purpose of each question, the audience most likely to benefit from the information provided and the significance of its policy application. The best practice policy application also includes short descriptions of examples of best practice policies that have been applied in the United States. While this review is not exhaustive, it covers many of the most effective parking policies that exist today. Select policy questions include original work as well as information on the challenges concerning our ability to answer the policy question(s).</p>
	                    <p>Finally, information on the anticipated challenges concerning our ability to answer the policy question(s) is included in each section.</p>
	                    <p>The Parking Pricing Regional Analysis Project will address the following issues and policy questions:</p>
	                    <ol>
	                        <li><a title="Supply &amp; Demand" href="http://parkingpolicy.com/supply-demand/">Where is local parking supply greater than demand, and where is demand greater than local supply, at what level will prices for parking affect supply and demand? Does this vary consistently by type of place?</a>
	                        </li>
	                        <li><a title="Reduced Requirements" href="http://parkingpolicy.com/reduced-requirements/">What would be the impact of reduced parking requirements on distribution and types of new development in different areas of the region?</a>
	                        </li>
	                        <li>How much demand exists for housing with lower amounts of parking? At what prices and in which areas?</li>
	                        <li>What would be the impact of unbundling parking from rents on residential demand in urban areas, and how would it alter demand in less urban areas? What would be the transportation, environmental and financial impacts of a charge placed on parking spaces?</li>
	                        <li>Could some planned or proposed parking structures be downsized through a combination of pricing and access improvements for other modes of transportation?</li>
	                        <li>What would be the impact on employment location and types, and affordability of a regional parking cash-out program?</li>
	                        <li>What are the most effective actions the regional agencies can take to support pricing parking policies?</li>
	                        <li>Under what conditions might cities and transit agencies want to enact or enforce various priced parking policies?</li>
	                        <li>Under what conditions do individuals perceive parking pricing policies to be appropriate?</li>
	                        <li>How common are the conditions that would lead to successful local parking pricing policies in the San Francisco Bay Area?</li>
	                        <li>What are the specific approaches to parking pricing programs and the components that are most important for a successful program?</li>
	                    </ol>
	                    <p>Two of the Policy Questions in the Project use modeling tools—UrbanSim and Travel Model One—to help address them. These tools have not yet been applied to parking, and the analysis for these questions include discussions on how new uses and further development of the land use and travel models allowed for further parking simulation.</p>
	                </div>
	            </div>
	        </div>

    	</div> 
        <!-- end content -->
    </div>
</section>