<section id="research-section">
	
	<!-- Content Area -->
    <!-- Page header -->
	<div class="site-header text-center navbar-fixed-top">
    	<div class="overlay">
	    	<h3>Research & </h3>
			<h3>Policies</h3>
    	</div>
	</div>
    
    <!-- Content -->
    <div class="report-content col-lg-12">
		<div class="container">
			<h2 class="page-header">
				VPP Parking Regional Analysis Research
			</h2>
			<div class="col-lg-3 pull-right">
				<div class="list-group">
					<a href="app/images/1.pdf" class="list-group-item">
						<h4 class="list-group-item-heading">Full Report PDF</h4>
						<p class="list-group-item-text">VPP Parking Regional Analysis Research, findings, and policy recommendations</p>
					</a>
					<a href="#/research.report#summary" class="list-group-item">
						<h4 class="list-group-item-heading">Executive Summary</h4>
					</a>
					<a href="#research.report#findings" class="list-group-item">
						<h4 class="list-group-item-heading">Key Findings</h4>
					</a>
					<a href="#research.report#parking" class="list-group-item">
						<h4 class="list-group-item-heading">Potential Regional Parking Policies</h4>
					</a>
					<a href="#research.report#vpp" class="list-group-item">
						<h4 class="list-group-item-heading">VPP Parking Regional Analysis</h4>
					</a>
					<a href="app/images/2.pdf" class="list-group-item">
						<h4 class="list-group-item-heading">Appendices PDF</h4>
					</a>
				</div>
			</div>
			<div class="col-lg-9 report-text">
				<p class="hidden">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
				<!-- Summary -->
				<h3 id="summary">Executive Summary</h3>
				<p>
					Parking policies have a powerful effect on land use development patterns and travel choice. The Metropolitan Transportation Commission (MTC) has been providing research, best practices, workshops and technical support for cities interested in parking reform for several years, in order to support the goals of the Regional Transportation Plan / Sustainable Communities Strategy, including reduced greenhouse gases (GHG), increased affordable housing, a vibrant economy and improved equity.  
MTC received funding through the FHWA Value Pricing Pilot (VPP) program to delve into potential regional parking policies, particularly in the realm of pricing and management. The effort developed a regional parking database to inform this policy work and for use by local jurisdictions. The Value Pricing Pilot Parking Regional Analysis Project (the “Project”) uses case studies, academic research, policy analysis and data analysis to address the relationship between parking pricing, policies, parking supply, and parking demand in cities around the Bay Area. 
				</p> 
				<small>Full report PDF <cite title="Source Title">Page 1</cite></small>
				
				<!-- Key findings -->
				<h3 id="findings">Key Findings</h3>
				<ol class="findings-list">
					<li>
						Most of the study locations have significant amounts of unused parking, even during the peak use time. While there is excess parking demand and usage on particular streets during the peak in some locations, there are significant amounts of unused parking spaces in lots and structures within a few blocks in almost all the locations at almost all times. 
					</li>
					<li>
						Many locations do not have pricing policies that effectively balance parking demand across their area.  There is a lack of coordination of prices between on-street and off-street parking. Prices for on-street parking are typically lower, or free, while lots and structures tend to have higher prices. This commonly results in drivers double parking and searching for on-street parking spaces, clogging up local business districts and resulting in excess vehicle miles of travel, while structures go underutilized. 
					</li>
					<li>
						Many parking requirements are not closely aligned with demand of the relevant population in the local context. Households that are younger or lower income and who have good walk/bike and transit access have lower automobile ownership rates. High parking requirements make housing less affordable. There is some movement toward reformed parking requirements based more on local populations, local land uses, transit access, and prices; regional support is valued.
					</li>
					<li>
						When parking structures are included in transit projects, there is often a lack of analysis of relative cost and effectiveness of alternative modes of access and pricing on the need for or appropriate size of a structure. While parking structures can be a component of the transit system, their relative cost effectiveness and usefulness depends on local land use and transportation conditions.  In some cases high density housing would provide higher transit ridership and more revenue to the transit agency.
					</li>
					<li>
						Employee programs that charge for parking are the most effective in reducing driving to work. However, many employers are reluctant to charge employees for parking. Parking cash-out is an attempt to put charging for parking into a more favorable perspective, but is not being implemented in the Bay Area. Programs that provide subsidies for alternative modes are more expensive and less effective than charging for parking, but appear to be more acceptable; combinations of charging for parking and subsidies for other modes may be most effective and acceptable. 
					</li>
					<li>
						Regional parking policies are a logical policy approach as part of the Sustainable Community Strategy (SCS), as per SB 375. Regional policies can be effective by providing expertise, supporting local analyses and implementation, conditioning funds on local adoption of appropriate parking policies, new innovative programs and increased scrutiny on the use of regional funds. 
					</li>
				</ol>
				<small>Full report PDF <cite title="Source Title">Page 1</cite></small>
				
				<!-- Potential Regional Parking Policies-->
				<h3 id="parking">Potential Regional Parking Policies</h3>
				<p>
					A stronger supportive regional role is likely necessary to make significant progress in reforming parking policies in the Bay Area in the near future. This report recommends MTC work closely with cities, transit agencies, the Association of Bay Area Governments (ABAG), Congestion Management Agencies (CMAs), the Bay Area Air Quality Management District (BAAQMD), development and business interests, advocacy groups, and other stakeholders in considering the following policies and activities (arrayed below from bold innovation to incremental changes):
				</p>
				<ol class="findings-list">
					<li>
						Work with BAAQMD to explore the development of an Indirect Source Rule (ISR), and/or develop a regional parking cap and trade approach.
					</li>
					<lil>
						Explore the development of a new regional parking fee or tax program, (using a VMT / GHG estimate), potentially with proceeds being returned to CMAs and/or local jurisdictions for use on TDM or projects to improve local quality of life. 
					</li>
					<li>
						Revise MTC’s Resolution 3434 TOD Policy to include appropriate parking policies for transit oriented developments around transit stations, and include provisions for appropriate local parking pricing and management policies for other transit extensions and programs with regional participation. 
					</li>
					<li>
						Revise MTC’s Resolution 3434 TOD Policy to include appropriate parking policies for transit oriented developments around transit stations, and include provisions for appropriate local parking pricing and management policies for other transit extensions and programs with regional participation. 
					</li>
					<li>
						Require a robust analysis of proposed parking structures with parking demand and multi-modal access and financial proforma prior to MTC contribution of regional funds. Consider establishing policy and threshold requirements.
					</li>
					<li>
						Enforce the State parking cash-out law at a regional level and refine the next Bay Area Commuter Benefit Ordinance to emphasize parking cash out and pricing parking.
					</li>
					<li>
						Increase regional funding support for local planning and capital improvement parking projects, focusing on reduced requirements and pricing to manage demand effectively.
					</li>
					<li>
						Publicize new State legislative reforms to parking policies that promote or allow development of more housing and infill mixed use with less parking, and support further State reform efforts that support the goals of the Regional Transportation Plan / Sustainable Communities Strategy.
					</li>
					<li>
						Collect and publicize code and policy language of effective local strategies; collect additional parking data and incorporate it into the Regional Parking Database, provide training for use of the database and analytical tools for local jurisdictions. Develop a parking demand calculator, including local conditions and pricing, for use by local jurisdictions; consider use of the calculator in conditioning of funds and other policies.
					</li>
					<li>
						Incorporate the impact of parking policies, especially pricing, into MTC/ABAG land use and transportation modeling for future Regional Transportation Plans / Sustainable Community Strategies.
					</li>
					<li>
						incorporate it into the Regional Parking Database, provide training for use of the database and analytical tools for local jurisdictions. Develop a parking demand calculator, including local conditions and pricing, for use by local jurisdictions; consider use of the calculator in conditioning of funds and other policies.  
10.	Incorporate the impact of parking policies, especially pricing, into MTC/ABAG land use and transportation modeling for future Regional Transportation Plans / Sustainable Community Strategies.
					</li>
				</ol>
				
				<!-- VPP Parking Regional Analysis -->
				<h3 id="vpp">VPP Parking Regional Analysis</h3>
				<p>
					The Metropolitan Transportation Commission (MTC), is the regional transportation planning and programming agency for the San Francisco Bay Area. MTC has been providing research, best practices, workshops and technical support for cities interested in parking reform for several years (see Appendix E). MTC sought and received funding through the FHWA Value Pricing Pilot (VPP) program to delve more into complex issues about potential regional parking policies, particularly in the realm of pricing and management, and to develop a regional parking database to inform this policy work, and for use by local jurisdictions and the regional agencies, among others.  
				</p>
				<ol class="findings-list">
					<li>
						Policy Question 1: Supply and Demand
					</li>
					<li>
						Policy Question 2: Reduced Parking Requirements
					</li>
					<li>
						Policy Question 3: Residential Parking Demand
					</li>
					<li>
						Policy Question 4: Unbundled Parking 
					</li>
					<li>
						Policy Question 5: Parking Structures
					</li>
					<li>
						Policy Question 6: Parking Cash-out
					</li>
					<li>
						Policy Question 7: Effective Regional Policies
					</li>
					<li>
						Policy Question 8: Local Policy
					</li>
					<li>
						Policy Question 9: Public Perception
					</li>
					<li>
						Policy Question 10: Common Conditions for Successful Pricing Policies 
					</li>
					<li>
						Policy Question 11: Specific Approaches to Parking Policies
					</li>
				</ol>
				
				<!-- appendex -->
				<h3 id="append">Appendices</h3>
				<ol class="findings-list">
					<li>Key Definitions</li>
					<li>Analysis of 25 cities</li>
					<li>Modeling Tolls</li>
					<li>UrbanSim Methodology and Assumptions</li>
					<li>Regional Parking Analyses by MTC</li>
					<li>Expert Testimony</li>
					<li>Findings, Examples, and Strategies.</li>
				</ol>
			</div>
		</div>
    </div>
    
</section>