<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center navbar-fixed-top">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    </div>
    
    <!-- Content -->
    <div class="report-content container">
		<div class="col-lg-12">
			<h2 class="page-header">
				VPP Parking Regional Analysis Research
			</h2>
			<div class="col-lg-3 pull-right">
				<div class="list-group">
					<a href="app/images/1.pdf" class="list-group-item">
						<h4 class="list-group-item-heading">Full Report PDF</h4>
						<p class="list-group-item-text">VPP Parking Regional Analysis Research, findings, and policy recommendations</p>
					</a>
					<a href="#/research.report#summary" class="list-group-item">
						<h4 class="list-group-item-heading">Executive Summary</h4>
					</a>
					<a href="#research.report#findings" class="list-group-item">
						<h4 class="list-group-item-heading">Key Findings</h4>
					</a>
					<a href="#research.report#parking" class="list-group-item">
						<h4 class="list-group-item-heading">Suggested Supportive Regional Parking Policies</h4>
					</a>
					<a href="#research.report#vpp" class="list-group-item">
						<h4 class="list-group-item-heading">VPP Parking Regional Analysis</h4>
					</a>
					<a href="app/images/2.pdf" class="list-group-item">
						<h4 class="list-group-item-heading">Appendices PDF</h4>
					</a>
					<a href="#research.report#additionalresources" class="list-group-item">
						<h4 class="list-group-item-heading">Additional Resources</h4>
					</a>
				</div>
			</div>
			<div class="col-lg-9">
				<p class="hidden">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				
				<!-- Summary -->
				<h3 id="summary">Executive Summary</h3>
				<p>
					Parking policies have a powerful effect on land use development patterns and travel choice. The Metropolitan Transportation Commission (MTC) has been providing research, best practices, workshops and technical support for cities interested in parking reform for several years, in order to support the goals of the Regional Transportation Plan / Sustainable Communities Strategy, including reduced greenhouse gases (GHG), increased affordable housing, a vibrant economy and improved equity.  
MTC received funding through the FHWA Value Pricing Pilot (VPP) program to delve into suggested supportive regional parking policies, particularly in the realm of pricing and management. The effort developed a regional parking database to inform this policy work and for use by local jurisdictions. The Value Pricing Pilot Parking Regional Analysis Project (the “Project”) uses case studies, academic research, policy analysis and data analysis to address the relationship between parking pricing, policies, parking supply, and parking demand in cities around the Bay Area. 
				</p> 
				<small>Full report PDF <cite title="Source Title">Page 1</cite></small>
				
				<!-- Key findings -->
				<h3 id="findings">Key Findings</h3>
				<ol class="findings-list">
					<li>
						Most of the study locations have significant amounts of unused parking, even during the peak use time. While there is excess parking demand and usage on particular streets during the peak in some locations, there are significant amounts of unused parking spaces in lots and structures within a few blocks in almost all the locations at almost all times. 
					</li>
					<li>
						Many locations do not have pricing policies that effectively balance parking demand across their area.  There is a lack of coordination of prices between on-street and off-street parking. Prices for on-street parking are typically lower, or free, while lots and structures tend to have higher prices. This commonly results in drivers double parking and searching for on-street parking spaces, clogging up local business districts and resulting in excess vehicle miles of travel, while structures go underutilized. 
					</li>
					<li>
						Many parking requirements are not closely aligned with demand of the relevant population in the local context. Households that are younger or lower income and who have good walk/bike and transit access have lower automobile ownership rates. High parking requirements make housing less affordable. There is some movement toward reformed parking requirements based more on local populations, local land uses, transit access, and prices; regional support is valued.
					</li>
					<li>
						When parking structures are included in transit projects, there is often a lack of analysis of relative cost and effectiveness of alternative modes of access and pricing on the need for or appropriate size of a structure. While parking structures can be a component of the transit system, their relative cost effectiveness and usefulness depends on local land use and transportation conditions.  In some cases high density housing would provide higher transit ridership and more revenue to the transit agency.
					</li>
					<li>
						Employee programs that charge for parking are the most effective in reducing driving to work. However, many employers are reluctant to charge employees for parking. Parking cash-out is an attempt to put charging for parking into a more favorable perspective, but is not being implemented in the Bay Area. Programs that provide subsidies for alternative modes are more expensive and less effective than charging for parking, but appear to be more acceptable; combinations of charging for parking and subsidies for other modes may be most effective and acceptable. 
					</li>
					<li>
						Regional parking policies are a logical policy approach as part of the Sustainable Community Strategy (SCS), as per SB 375. Regional policies can be effective by providing expertise, supporting local analyses and implementation, conditioning funds on local adoption of appropriate parking policies, new innovative programs and increased scrutiny on the use of regional funds. 
					</li>
				</ol>
				<small>Full report PDF <cite title="Source Title">Page 1</cite></small>
				
				<!-- Suggested Supportive Regional Parking Policies-->
				<h3 id="parking">Suggested Supportive Regional Parking Policies</h3>
				<p>
					A stronger supportive regional role is likely necessary to make significant progress in reforming parking policies in the Bay Area in the near future. This report recommends MTC work closely with cities, transit agencies, the Association of Bay Area Governments (ABAG), Congestion Management Agencies (CMAs), the Bay Area Air Quality Management District (BAAQMD), development and business interests, advocacy groups, and other stakeholders in considering the following policies and activities. The following <a href="app/documents/MTC_VPP_REGIONAL_POLICY_MEMO.pdf" target="_blank">memorandum</a> outlines what MTC can do to support regional transit station access through supportive policies, the investment of regional funds, and the use of technical assistance grants for Station Access Improvement Plans (SAIP) that follow the TCRP 153 eight step process. It includes:
				</p>
				<ol class="findings-list">
					<li>
						Policy Approach for Pricing and Management at Transit Stations: a focus on pricing and management policies that improve access to the off-peak travel period.
					</li>
					<li>
						Policy Approach for Alternative Parking Supply at Transit Stations: a focus on joint development and creative partnerships that allow tax-payer funds to improve public access to transit. 
					</li>
					<li>
						Policy Approach for Funding Supply at Transit Systems:  Support existing transit agencies Station Access Policies that take an analytical demand management approach to planning for park-and-ride users such as TCRP 153.
					</li>
				</ol>
				<p>
					MTC's regional parking policy document can be found <a href="app/documents/MTC_VPP_REGIONAL_POLICY_MEMO.pdf" target="_blank">here</a>.
				</p>

				<!-- VPP Parking Regional Analysis -->
				<h3 id="vpp">VPP Parking Regional Analysis</h3>
				<p>
					The Metropolitan Transportation Commission (MTC), is the regional transportation planning and programming agency for the San Francisco Bay Area. MTC has been providing research, best practices, workshops and technical support for cities interested in parking reform for several years (see Appendix E). MTC sought and received funding through the FHWA Value Pricing Pilot (VPP) program to delve more into complex issues about suggested supportive regional parking policies, particularly in the realm of pricing and management, and to develop a regional parking database to inform this policy work, and for use by local jurisdictions and the regional agencies, among others.  
				</p>
				<ol class="findings-list">
					<li>
						Policy Question 1: Supply and Demand
					</li>
					<li>
						Policy Question 2: Reduced Parking Requirements
					</li>
					<li>
						Policy Question 3: Residential Parking Demand
					</li>
					<li>
						Policy Question 4: Unbundled Parking 
					</li>
					<li>
						Policy Question 5: Parking Structures
					</li>
					<li>
						Policy Question 6: Parking Cash-out
					</li>
					<li>
						Policy Question 7: Effective Regional Policies
					</li>
					<li>
						Policy Question 8: Local Policy
					</li>
					<li>
						Policy Question 9: Public Perception
					</li>
					<li>
						Policy Question 10: Common Conditions for Successful Pricing Policies 
					</li>
					<li>
						Policy Question 11: Specific Approaches to Parking Policies
					</li>
				</ol>
				
				<!-- appendex -->
				<h3 id="append">Appendices</h3>
				<ol class="findings-list">
					<li>Key Definitions</li>
					<li>Analysis of 25 cities</li>
					<li>Modeling Tolls</li>
					<li>UrbanSim Methodology and Assumptions</li>
					<li>Regional Parking Analyses by MTC</li>
					<li>Expert Testimony</li>
					<li>Findings, Examples, and Strategies.</li>
				</ol>

				<!-- Additional Resources -->
				<h3 id="additionalresources">Additional Resources</h3>
				<p>
					Reports  
				</p>
				<ul class="findings-list">
					<li>
						<a href="app/documents/Millard-Ball_Weinberger_Hampshire_2014_Assessing_the_impacts_SFPark.pdf" target="_blank">Assessing the Impacts of SF Parks Pricing Experiment (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/DR1_TRB_DC_Multifamily_Parking_Utilization.pdf" target="_blank">Estimating Parking Utilization in Multi-Family Residential Buildings in Washington D.C. (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/mini_reporte_polanco.pdf" target="_blank">Impacts of the Ecoparq Program on Polanco (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/MTC_PARKING_STRUCTURE_PQ5.pdf" target="_blank">Parking Structure Technical Report (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/RIGHT_SIZING_PARKING.pdf" target="_blank">"Right Sizing" Parking (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/2276_13_TRB_Martin_Hurrell.pdf" target="_blank">Station Parking and Transit-Oriented Design (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/7_duncan_jper.pdf" target="_blank">To Park or To Develop: Trade-Off in Rail Transit Passenger Demand (PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/ProposedDowntownParkingManagementPlan.pdf" target="_blank">Vallejo Parking Management and Parcs Plan (PDF Download)</a>
					</li>
				</ul>
				<p>
					Presentations  
				</p>
				<ul class="findings-list">
					<li>
						<a href="app/documents/mtc-vpp-parking-project-presentation.pptx" target="_blank">MTC VPP Parking Project Presentation (PPT Download)</a>
					</li>
					<li>
						<a href="app/documents/Sonoran-Parking-Webinar-v6.pdf" target="_blank">Strategic Parking Management (Sonoran Parking Webinar PDF Download)</a>
					</li>
					<li>
						<a href="app/documents/accs_2013residentialbuildingtransportationstudy21oct2013presentation.pdf" target="_blank">Arlington Virginia Residential Building Transportation Performance Monitoring Study 2013 (PDF Download)</a>
					</li>
				</ul>
				<p>
					Additional Parking Datasets  
				</p>
				<ul class="findings-list">
					<li>
						<a href="app/documents/AdditionalParkingDatasets.zip" >Additional Parking Datasets (ZIP Download)</a>
					</li>
				</ul>				
				<p>
					Weblinks  
				</p>
				<ul class="findings-list">
					<li>
						<a href="http://www.mtc.ca.gov/planning/smart_growth/parking/" target="_blank">MTC Smart Growth</a>
					</li>
					<li>
						<a href="http://www.startribune.com/mpls-relaxes-parking-requirements-to-reduce-housing-costs/313286521/" target="_blank">Minneapolis Relaxes Parking Requirements</a>
					</li>
					<li>
						<a href="http://www.eastbayexpress.com/oakland/a-green-solution-to-oaklands-housing-crisis/Content?oid=4443594" target="_blank">A Green Solution to Oakland's Housing Crisis</a>
					</li>
					<li>
						<a href="http://districtsource.com/2014/06/parking-relief-approved-church-street-condos/" target="_blank">Parking Relief Solutions in D.C.</a>
					</li>
					<li>
						<a href="http://apps.leg.wa.gov/billinfo/summary.aspx?year=2013&bill=2463" target="_blank">Improving Parking Privileges for People With Disabilities</a>
					</li>
				</ul>
			</div>
		</div>
    </div>
    
</section>
