#research-section {
    //background-image: url('images/parking-lot.png');
    background-color:#ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .site-header{
		margin-top: 50px;
		height: 250px;
		background-image: url('images/cropped-sunvalley_mall_concord_california.jpg');
		background-size: cover;
		.overlay{
			padding-top: 20px;
			h3:last-child{
				color:white;
			}
		}
	}
	.research-content {
		height: 2000px;
		//overflow: scroll;
		font-size: 18px;
		.project-overview{
			.project-ol{
				li{
					padding-top: 10px;
				}
				.ol-text{
					color: @mainColor;
					span{
						color: @mainBgColor;
					}
				}
				.project-ul{
					li{
						list-style: circle;
						padding-top: 10px;	
					}	
				}
			}
		}
		p{
			color:@anchorColor;    
		}
		.research-header-h2{
			color: anchorColor;
		}
		.research-header-h3{
			color: @anchorColor;
		}
		.research-header-h4{
			color: @mainColor;
		}
		.research-sub-header{
			color: @mainColor;
		}
		.sub-header-4{
			color: @mainColor;
		}
		.page-header{
			border-bottom: 1px solid @mainColor;
		}
		.color-blue{
			color: @mainColor;
		}
		.color-white{
			color: @anchorColor;
		}
	}
}

.navbar-vpp {
    color: #ffffff;
    border-radius: 0;
}

.navbar-vpp {
	&.navbar-nav-research {
		> li{
			> a {
				color: #333;
    		}
    	}
    }
}
// Content Sedctions
#EmployeePrograms{
	margin-bottom: 200px;
}
#RegionalPricingPolicies{
	margin-bottom: 200px;
}
#EnactingPricingPolicies{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:@anchorColor;
	}
}
#Resources{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul, h1{
		color:@anchorColor;
	}
}
#PolicyQuestions{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:@anchorColor;
	}
}
#SupplyDemand{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color: @anchorColor;
	}	
}
#ParkingReqmntsUnbundling{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color: @anchorColor;
	}
}
#TravelModelOneAnalysis{
	margin-bottom: 200px;
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:@anchorColor;
	}	
}