#research-section {
    background-image: url('images/parking-lot.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .site-header{
		margin-top: 150px;
	}
	.research-content {
		height: 400px;
		overflow: scroll;
		p{
			color:#ffffff;
		}
		.research-header-h2{
			color: #ffffff;
		}
		.research-header-h3{
			color: #ffffff;
		}
		.research-header-h4{
			color: @mainColor;
		}
		.research-sub-header{
			color: @mainColor;
		}
		.sub-header-4{
			color: @mainColor;
		}
		.page-header{
			border-bottom: 1px solid @mainColor;
		}
		.color-blue{
			color: @mainColor;
		}
		.color-white{
			color: #ffffff;
		}
	}
}

.navbar-vpp {
    color: #ffffff;
    border-radius: 0;
}

.navbar-vpp {
	&.navbar-nav-research {
		> li{
			> a {
				color: #333;
    		}
    	}
    }
}
// Content Sedctions
#EmployeePrograms{
	
}
#EnactingPricingPolicies{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}
}
#Resources{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}
}
#PolicyQuestions{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}
}
#SupplyDemand{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}	
}
#ParkingReqmntsUnbundling{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}
}
#TravelModelOneAnalysis{
	.content-colors();
	.entry-title{
		color: @mainColor;
	}
	table, ol, ul{
		color:white;
	}	
}