<nav-template></nav-template>

<section id="research-section">

    <!-- Page header -->
    <div class="container-fluid pad-0">
        <div class="row jumbotron text-center ma-bottom-0">
            <h1 class="pad-bottom-l ma-bottom-l">Research & Policies</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

        </div>
        <nav class="navbar navbar-vpp">
            <div class="container">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav-research">
                        <li> <a href="#">Employee Programs</a>
                        </li>
                        <li><a href="#">Regional Pricing Policies</a>
                        </li>
                        <li><a href="#">Enacting Pricing Policies</a>
                        </li>
                        <li><a href="#">Resources</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Policy Questions</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Overview</a>
                                </li>
                                <li><a href="#">Bay Area UrbanSim</a>
                                </li>
                                <li><a href="#">Travel Model One</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Key Definitions</a>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Supply & Demand</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Overview</a>
                                </li>
                                <li><a href="#">Regional Parking <br />Database Analysis</a>
                                </li>


                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parking Requirements & Unbundling</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">UrbanSim Analysis</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parking Structures</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Travel Model One Analysis</a>
                                </li>
                            </ul>




                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>


    </div>



    <!-- Content -->
</section>