<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	<!-- supply -->
			<div id="SupplyDemand" class="pad-bottom-l">
	            <div class=" pad-top-l">
	                <h2 class="page-header">Overview &#8211; Supply &amp; Demand</h2>
	                <div class="entry-content">
	                    <p>
	                        <em>Where is <strong>local parking supply greater than demand, and where is local demand greater than supply</strong>, and at what prices for parking does this hold? Does this vary systematically by type of place or other criteria?</em>
	                    </p>
	                    <h3>Question Purpose</h3>
	                    <p><em>What is the purpose of this question, why is it important, and who is the intended audience?</em>
	                    </p>
	                    <p>This is a fundamental question that addresses the relationship between parking supply, demand, and pricing. This question is of prime interest to MTC and ABAG. Local jurisdictions are primarily interested in the answers to these questions within their own jurisdictions. This question is especially dependent on parking economics. Each specific location will have its own balance of supply, demand, and price elasticity that will determine how a set price affects the relationship between supply and demand. Factors affect supply and demand are location-dependent—including demographics, transportation options in the area, local and regional policies, as well as culture. <strong>Figure 1</strong> illustrates the relationships between parking demand, supply and price.</p>
	                    <p>Figure 1: Relationship between parking demand, supply and price</p>
	                    <p>
	                        <a href="https://parkingpolicy.files.wordpress.com/2015/03/supply-and-demand-1-e1426024656233.jpg"><img class=" wp-image-51 aligncenter" src="https://parkingpolicy.files.wordpress.com/2015/03/supply-and-demand-1-e1426024656233.jpg?w=420&#038;h=285" alt="Supply and Demand 1" width="420" height="285" />
	                        </a>
	                    </p>
	                    <p><em>Source: Concept and information from Richard Willson; adapted and edited by CDM Smith, February 2014.</em>
	                    </p>
	                    <p>Data analysis methods for this question can be used by local jurisdictions for development of strategies, to begin larger discussions on parking management, or as a starting point for a larger study. Supply and occupancy data can establish a baseline for comparative analysis, allowing local jurisdictions to evaluate how the relationship between parking supply, demand, and price in their jurisdiction compares to the larger region.</p>
	                    <h3>Overview of Analysis</h3>
	                    <p><em>How is this question being addressed? What approach is best, given limitations? </em>
	                    </p>
	                    <p>In the abstract, we would address this question by analyzing a complete data set of parking inventory, occupancy, turnover, and pricing throughout the region and for all times of day, days of week, and seasons. Information for all parking—both private and public supplies—would allow a full supply and demand analysis. Additionally, before and after data showing user responses to parking price changes would make it possible to calculate the price elasticity of demand, which would allow the project to determine what price could be charged for parking in order to achieve desired occupancy levels.</p>
	                    <p>In this study, this question is addressed primarily through new analysis of new data collected on supply, occupancy, and price of public parking facilities for 25 locations throughout the Bay Area.<a href="#_ftn1" name="_ftnref1">[1]</a> This information is location-specific so that demand by area is correlated with a high-level summary of the policy, demographic, transit service and/or land use characteristics that makes each area unique. In addition to analyzing occupancy by region, GIS is used to map findings spatially and look at which parking conditions are common throughout the Bay Area (<strong>Figure 2)</strong>.</p>
	                    <p>Figure 2: Example of a parking study in the City of Santa Rosa looking at the balance of supply and demand on a weekday at noontime.</p>
	                    <p>
	                        <a href="https://parkingpolicy.files.wordpress.com/2015/04/srheat-map-example-02-01.jpg"><img class="wp-image-109 aligncenter" src="https://parkingpolicy.files.wordpress.com/2015/04/srheat-map-example-02-01.jpg?w=540&#038;h=332" alt="Example of a parking study in the City of Santa Rosa looking at the balance of supply and demand on a weekday at noontime. " width="540" height="332" />
	                        </a>
	                    </p>
	                    <p>The data collection for this project that is used to address this question includes parking inventory and occupancy for 25 study areas. Inventory (including price and restrictions) and occupancy of public parking (on- and off-street) for one (1) weekday (Monday-Thursday) and one (1) weekend (Saturday) during five (5) times of the day: 5AM, 9AM, 12PM, 4PM, and 8PM. The results are also discussed in relationship to the parking policies within each study area.</p>
	                    <h2>Background &amp; Research</h2>
	                    <h4>Literature Review:</h4>
	                    <p>
	                        <a name="_Toc389490420"></a>
	                        <a name="_Toc387829944"></a>Parking Supply, Demand and Pricing</p>
	                    <p>Professor Donald Shoup, an expert on parking economics, suggests keeping prices consistent with an occupancy level of approximately 85% in order to realize the “right price” for parking.<a href="#_ftn1" name="_ftnref1">[2]</a> “Underpriced and overcrowded curb parking creates problems for everyone except a few lucky drivers who find a cheap space,” Shoup explains in the introduction to his research on demand based pricing in San Francisco (2013). Additionally, while underpricing and overcrowding creates problems, overpricing and under-crowded spaces also have negative effects.</p>
	                    <p>For areas with more supply than demand, unused parking spaces could be converted to more efficient land uses (such as developments, public space, or parklets); excess (underutilized) parking in these areas could also be used by adjacent high-demand areas by implementing shared parking policies or valet parking policies (see Policy Question #7-11 for application descriptions). Additional literature relating to this balancing of supply, demand through pricing policies include:</p>
	                    <ul>
	                        <li>SFPark, goBerkeley, and New York City’s Variable Pricing Pilot projects: each of these projects, explained in detail below, include cutting-edge research on managing on-street parking with variable pricing.</li>
	                        <li>Transpo Group (2013). Seattle Annual Paid Parking Occupancy Report 2013. Prepared for the Seattle Department of Transportation: This study looks at parking conditions where parking pricing is in effect. Occupancy varies by time of day for different locations with different prices and enforcement policies in place.</li>
	                        <li>Auchincloss et al. (2014). Public Parking Fees and Fines: A Survey of U.S. Cities. Published in Public Works Management &amp; Policy: This study looks at parking prices within 107 U.S. cities and finds that higher parking costs are associated with an increase in public transit use and less personal automobile demand.</li>
	                        <li>Some studies have also looked at the relationship between supply and demand, including Robert Cervero’s (2009) study in California that found an 11% decrease in parking demand for every 50% reduction in supply.</li>
	                    </ul>
	                    <p>
	                        <a name="_Toc389490421"></a>
	                        <a name="_Toc387829945"></a>Price Elasticity of Demand</p>
	                    <p>Several studies have researched how parking prices change demand, calculating price elasticity of demand for different regions. The change in demand due to changes in price is also dependent on supply. Because of this, effects of changes in price on demand are very location-specific. Price elasticity of demand found in cities around the world range from -0.15 to -0.58 from a variety of research, including:</p>
	                    <ul>
	                        <li>Kelly and Clinch (2009): A study in Dublin, Ireland found an average price elasticity of demand of -0.29.</li>
	                        <li>Dueker, et al (1998): A study in Portland found a 5.8% decrease in demand per 10% increase in price using an $80/month base charge (elasticity of -0.58).</li>
	                        <li>Shoup (1994): Study found a 1.5% decrease in demand per 10% increase in price (elasticity of -0.15).</li>
	                        <li>Pierce and Shoup (2013): An SFPark study found an average price elasticity of demand of -0.40. Additionally, Millard-Ball, Weinberger, and Hampshire (2014)<a href="#_ftn1" name="_ftnref1">[3]</a> look at the impacts of SFPark’s pricing research, detailed further within the discussion for Policy Question #7.</li>
	                    </ul>
	                    <p>
	                        <a name="_Toc389490422"></a>Best Practice Applications</p>
	                    <p>Variable Pricing</p>
	                    <p>
	                        <a name="_Toc389490423"></a>Policy Application: New York City’s Variable Pricing Pilot</p>
	                    <p>New York City received an FHWA grant to implement demand-based variable pricing. The conditions that led to the program’s initiation were a high rate of cruising for parking, low availability of parking during peak demand periods, and a high rate of double parking. Within Greenwich Village, pricing was raised from $1 to $2 during the peak demand period from noon to 4pm. Occupancy on weekdays decreased about 8% on weekdays and vehicle turnover increased, allowing a higher number of total vehicles to park. Results of the 6-month pilot were well documented and success of the program resulted in continuing the variable pricing policy, raising the fees to $2/hour off-peak and $3/hour during peak periods.</p>
	                    <p>
	                        <a name="_Toc389490424"></a>Policy Application: Berkeley’s goBerkeley Pilot</p>
	                    <p>In 2013, with funding from the Federal Highway Administration (FHWA), the City of Berkeley initiated a pilot program that implemented several on-street dynamic pricing strategies. Hourly rates for on-street parking range from $1.00 to $2.25; prices were set based on the demand for parking in the area. In Berkeley’s Elmwood District, a popular commercial corridor with limited on-street parking, a tiered-parking strategy was implemented to encourage short-term parking and discourage longer-term parking. Prices start at $1.00 and increase $0.50 for every additional hour of stay, up to three hours. Pilots were also initiated in the Downtown Berkeley and Southside/Telegraph neighborhoods. In these areas premium and value areas were established. The higher demand premium areas had shorter time limits and higher hourly rates to encourage turnover, and lower demand value areas had longer time limits and lower hourly rates.</p>
	                    <p>Off-street lots are commonly priced higher than on-street parking, resulting in underutilized off-street parking and excess demand (including double parking) within on-street parking in high demand areas. Off-street parking typically needs to be less expensive to encourage longer term parking, increasing availability of on-street parking for short-term parking. In 2013, Berkeley found that the $0.50/hour higher cost for on-street parking (at $1.50/hour) compared to off-street costs (at $1.00/hour) was not sufficient to encourage parkers to use off-street facilities over on-street facilities. Even with this price differential, on-street parking was still consistently above 85% occupied while off-street facilities were before 75% occupied. This study resulted in recommendations that the pilot implement addition pricing measures to make off-street parking more competitive with on-street parking.<a href="#_ftn1" name="_ftnref1">[4]</a>
	                    </p>
	                    <p>
	                        <a name="_Toc389490425"></a>Policy Application: SFpark’s Demand-Based Pricing</p>
	                    <p>With funding from the FHWA in 2011, San Francisco began an ambitious program to set on-street parking prices at variable levels dependent on the demand for that area. Seven pilot zones were selected to have demand-based pricing, with prices adjusted every few weeks based on occupancy rates. For example, if occupancy rates are below 30%, the price is decreased by 50 cents per hour; if occupancy is above 80%, the price is increased 25 cents per hour (<strong>Figure 3</strong>).</p>
	                    <p>Figure 3: Weekday Morning Prices at Fisherman’s Wharf<a href="#_ftn1" name="_ftnref1"><strong>[5]</strong></a>
	                    </p>
	                    <p>
	                        <a href="https://parkingpolicy.files.wordpress.com/2015/02/weekdayampricesfw.png"><img class="wp-image-292 aligncenter" src="https://parkingpolicy.files.wordpress.com/2015/02/weekdayampricesfw.png?w=575&#038;h=234" alt="WeekdayAMPricesFW" width="575" height="234" />
	                        </a>
	                    </p>
	                    <p class="LFTBody">There are several benefits of the SFpark program. First, vehicles spend less time circling for parking. This reduces traffic congestion and decreases emissions from excess driving. Second, drivers parked in the areas of higher demand will typically park for a shorter time, increasing turnover rate and therefore, making these spaces available to accommodate more people. Last, more people may use alternative modes and carpool to highly demanded destinations with the highest prices, such as baseball games at AT&amp;T Park.</p>
	                    <p class="LFTBody">Pierce and Shoup (2013) calculated the price elasticity of demand based on SFPark data of 5,294 changes in price and occupancy within San Francisco. Overall, over the course of the study, meter prices did not increase overall—meters were adjusted both up and down with the average meter price falling 1%. The average elasticity value calculated was -0.4. Therefore, as the cost for parking increased by $1, occupancy fell by 40%. In other words, on a street block-face with 10 spaces, raising the price by 25 cents will open up one parking space.</p>
	                    <p>After the program had been in effect for six months, Pierce and Shoup (2013) looked at two of the seven pilot areas to calculate the price elasticity of demand based on SFPark’s data showing price and occupancy changes in 2012. The study found that the price elasticity of demand in an area at Fisherman’s wharf was -1.3. Here, demand for parking was low (average occupancy at 27%) and prices were decreased to reach higher occupancies. For every $1 decrease in price per hour, occupancy increased 130% (<strong>Table 2</strong>). Even though per-hour prices decreased, the parking revenue for the Beach Street area increased, because occupancy increased substantially.</p>
	                    <p class="LFTTableTitle">Table 2: Price and Demand Changes for Two SFPark Study Areas</p>
	                    <table>
	                        <tbody>
	                            <tr>
	                                <td width="219"><strong>Area</strong>
	                                </td>
	                                <td width="188"><strong>Change in Price</strong>
	                                </td>
	                                <td width="188"><strong>Change in Occupancy</strong>
	                                </td>
	                                <td width="188"><strong>Price Elasticity of Demand</strong>
	                                </td>
	                            </tr>
	                            <tr>
	                                <td width="219">600 block area near Beach Street at Fisherman’s Wharf</td>
	                                <td width="188">-53%</p>
	                                    <p>$3/hr to $1.75/hr</td>
	                                <td width="188">+70%</p>
	                                    <p>27% to 56% occupied</td>
	                                <td width="188">-1.3</td>
	                            </tr>
	                            <tr>
	                                <td width="219">200 block area at and near Drumm Street</td>
	                                <td width="188">+25%</p>
	                                    <p>$3.50/hr to $4.50/hr</td>
	                                <td width="188">-13%</p>
	                                    <p>98% to 86% occupied</td>
	                                <td width="188">-0.5</td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <p>
	                        <a name="_Toc389580610"></a>Regional Parking Database Data Analysis</p>
	                    <p>Data was collected for 25 sites in the Bay Area to look at parking supply, occupancy, and pricing. This analysis is to be completed summer, 2015.</p>
	                    <h3>Challenges</h3>
	                    <p><em>What (if any) impediments inhibit our ability to answer the question entirely?</em>
	                    </p>
	                    <p>There are several impediments to data collection and analysis that inhibit our ability to answer this question entirely.</p>
	                    <ol>
	                        <li>Due to limited resources, data collection is limited to 25 new sites, rather than being able to collect data throughout the Bay Area. Locations are biased towards areas with high demand as well as areas where transit-accessible areas. These limit the generalizability of the findings from the specific locations.</li>
	                        <li>Data collection was completed between August 2014 and February 2015. Therefore, data collection did not occur for all time periods or all seasons, limiting the generalizability of the findings to a few representative times.</li>
	                        <li>It is challenging to collect supply and use data for private off street parking; in some places this type of parking is a major component of the total parking supply and this gap should be recognized in the development of findings. While some collections do include some private off-street facilities, most collections include only on-street and public off-street facilities.</li>
	                    </ol>
	                    <h2>Potential Policy Actions</h2>
	                    <ul>
	                        <li>
	                            <div data-shortcode="caption" id="attachment_104" style="width: 310px" class="wp-caption alignright">
	                                <a href="https://parkingpolicy.files.wordpress.com/2015/04/regulations-no-supply-01.jpg"><img class="wp-image-104 size-medium" src="https://parkingpolicy.files.wordpress.com/2015/04/regulations-no-supply-01.jpg?w=300&#038;h=212" alt="Print" width="300" height="212" />
	                                </a>
	                                <p class="wp-caption-text">Figure 4: Example of a map of parking requirements, used to correlate with parking demand.</p>
	                            </div>
	                            <p>Supporting additional analyses of local conditions (tied in with the new parking database) and supporting implementation of better parking policies through performance pricing using smart meters, information systems, etc (<strong>Figure 4</strong>).</li>
	                    </ul>
	                    <ul>
	                        <li>Using available data and high-level recommendations to craft responsive policies to improve parking demand management.</li>
	                    </ul>
	                    <p><a href="#_ftnref1" name="_ftn1">[1]</a> Analysis will also utilize data from study areas with current (since 2010) data where available.</p>
	                    <p><a href="#_ftnref1" name="_ftn1">[2]</a> Some of the most relevant and recent publications include by Donald Shoup include: Donald Shoup, “Cruising for Parking,” Transport Policy, Vol. 13, No. 6, November 2006, pp.479–486; Gregory Pierce and Donald Shoup, “Getting the Prices Right: An Evaluation of Pricing Parking by Demand in San Francisco,” Journal of the American Planning Association, Vol. 79, No. 1, Winter 2013, pp. 67–81; Donald Shoup, The High Cost of Free Parking, Chicago: Planners Press, 2005 and revised 2011.</p>
	                    <p><a href="#_ftnref1" name="_ftn1">[3]</a> Is the Curb 80% full or 20% empty? Assessing the Impacts of San Francisco’s Parking Pricing Experiment. Transportation Research Part A: Policy and Practice.</p>
	                    <p><a href="#_ftnref1" name="_ftn1">[4]</a> Memo to the Honorable Mayor and Members of the City Council from Christine Daniel, City Manager. October 29, 2013. City of Berkeley. Re: Enable Off-Street Parking Rate Changes in goBerkeley Pilot Program.</p>
	                    <p><a href="#_ftnref1" name="_ftn1">[5]</a> Access Magazine. SFpark: Pricing Parking by Demand. Available at: <a href="http://www.uctc.net/access/43/access43_sf_park.shtml" rel="nofollow">http://www.uctc.net/access/43/access43_sf_park.shtml</a>
	                    </p>
	                </div>
	            </div>
	        </div>

    	</div> 
        <!-- end content -->
    </div>
</section>
