<section id="research-section">
	
	<!-- Content Area -->
    <div class="">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	<div class="overlay">
		    	<h3>Research & </h3>
				<h3>Policies</h3>
	    	</div>
    	</div>
    	<nav-template class="hidden"></nav-template>
	    	
    	<!-- Content -->
    	<div class="research-content pad-top-l ma-top-l home-text container">
	    	
	    	<!-- Travel-->
			 <div id="TravelModelOneAnalysis" class="pad-bottom-l">
	            <div class="row pad-top-l">
	                <h2 class="entry-title page-header">Travel Model One&nbsp;Analysis</h2>
	                <div class="entry-content">
	                    <p>Travel Model One Analysis</p>
	                </div>
	            </div>
	        </div>

    	</div> 
        <!-- end content -->
    </div>
</section>