<nav-template-large></nav-template-large>
<div id="map">
    <div id="HomeButton"></div>


</div>
<div id="search">
    <div class="input-group">
        <input id="StudyAreaSearch" type="text" class="form-control" name="City" placeholder="Find Study Area..." list="studyareas-list">
        <datalist id="studyareas-list"></datalist>
        <span class="input-group-btn">
        <button class="btn btn-default find-studyarea" type="button">Search</button>
      </span>
    </div>
</div>
<div id="mapLegend" class="mapLegend">
    <div id="mapLegendPNL" class="panel panel-info legendContent collapse">
        <div class="panel-heading">
            <div class="panel-title">
                <span id="iconTitleLegend" class='pull-left'></span>
                <i class="fa fa-server fa-lg pad-right-m"></i>
                <span id="LegendTitle">Legend</span>
                <span class='pull-right clickableLegend'><i class='fa fa-times'></i></span>
            </div>
        </div>
        <div class="panel-body">
            <div id="StudyAreaNamePNL" class="collapse">
                Study Area Name
            </div>

        </div>
    </div>
</div>
<div id="maptoolsBTN">
    <div class="dropdown">
        <button class="btn btn-info btn-info-map dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-wrench fa-lg"></span> Map Tools

        </button>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">

            <li>
                <a id="mapOptionsCTL">
                    <i class="fa fa-ellipsis-h fa-lg"></i> Parking Theme <span class="arrow clickable"></span>
                </a>
            </li>
            <li>
                <a id="mapLegendCTL">
                    <i class="fa fa-server fa-lg"></i> Show Legend <span class="arrow clickable"></span>
                </a>
            </li>

            <li><a id="mapBaseCTL"><i class="fa fa-globe fa-lg"></i> Basemaps <span class="arrow clickable"></span></a>
            </li>
            <li><a id="mapLayersCTL"><i class="fa fa-th-list fa-lg"></i> View Layers <span class="arrow clickable"></span></a>
            </li>
            <li class="divider"></li>
            <li><a id="mapRefreshCTL"><i class="fa fa-refresh fa-lg"></i> Reset Map <span class="arrow clickable"></span></a>
            </li>
            <li><a id="mapNavCTL"><i class="fa fa-location-arrow fa-lg"></i> Navigation Tips <span class="arrow clickable"></span></a>
            </li>
            <li><a id="mapPrintCTL"><i class="fa fa-print fa-lg"></i> Print Map <span class="arrow clickable"></span></a>
            </li>
        </ul>
    </div>

</div>
<div id="TimeOfDayBTN">
    <div id="maptypeOptionsBTN" class="text-center collapse">
        <div class="dropdown">
            <button class="btn btn-info btn-info-map dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa  fa-clock-o fa-lg fa-fw"></span> Time of Day

            </button>
            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                <li><a id=""><i class="fa  fa-clock-o fa-lg fa-fw"></i> Peak </a>
                </li>
                <li>
                    <a id="">
                        <i class="fa fa-clock-o fa-lg fa-fw"></i> Early Morning (5AM)
                    </a>
                </li>

                <li><a id=""><i class="fa  fa-clock-o fa-lg fa-fw"></i> Morning (9AM) </a>
                </li>
                <li><a id=""><i class="fa  fa-clock-o fa-lg fa-fw"></i> Afternoon (12PM) </a>
                </li>
                <li><a id=""><i class="fa  fa-clock-o fa-lg fa-fw"></i> Late Afternoon (4PM) </a>
                </li>
                <li><a id=""><i class="fa  fa-clock-o fa-lg fa-fw"></i> Evening (8PM) </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div id="mt">
    <div id="mapToolsPNL" class="panel panel-info collapse">
        <div class="panel-heading">
            <div class="panel-title">
                <span id="iconTitle" class='pull-left'></span>
                <span id="title"></span>
                <span class='pull-right clickable'><i class='fa fa-times'></i></span>
            </div>
        </div>
        <div class="panel-body">
            <div id="mapNav" class="tools collapse">

                <p>Users can choose the mouse, keyboard, and sliders for panning and zooming the map. The following keyboard and mouse controls affect the map navigation:</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-hand-o-up fa-lg pad-right-m"></i>Drag the mouse to pan</li>
                    <li><i class="fa fa-search-plus fa-lg pad-right-m"></i>Mouse Scroll Forward to zoom in</li>
                    <li><i class="fa fa-search-minus fa-lg pad-right-m"></i>Mouse Scroll Backward to zoom out</li>
                    <li><i class="fa fa-keyboard-o fa-lg pad-right-m"></i>SHIFT + Drag the mouse to zoom in</li>
                    <li><i class="fa fa-keyboard-o fa-lg pad-right-m"></i>SHIFT + CTRL + Drag the mouse to zoom out</li>
                    <li><i class="fa fa-keyboard-o fa-lg pad-right-m"></i>SHIFT + Click to recenter</li>
                    <li><i class="fa fa-level-down fa-lg pad-left-s pad-right-m"></i>&nbsp;Double Click to Center and Zoom in</li>
                    <li><i class="fa fa-keyboard-o fa-lg pad-right-m"></i>SHIFT + Double Click to Center and Zoom in</li>
                    <li>Use <i class="fa fa-arrows fa-lg pad-left-s pad-right-s"></i> arrow keys to pan</li>
                    <li>Use <i class="fa fa-plus-square fa-lg pad-left-s pad-right-s"></i> key to zoom in a level</li>
                    <li>Use <i class="fa fa-minus-square fa-lg pad-left-s pad-right-s"></i> key to zoom out a level</li>
                </ul>


                <!--
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group pad-s" role="group">
                        <button id="zoomMap" type="button" class="btn btn-primary">Zoom Drag</button>
                    </div>
                    <div class="btn-group pad-s" role="group">
                        <button type="button" class="btn btn-primary">Full Extent</button>
                    </div>
                    <div class="btn-group pad-s" role="group">
                        <button type="button" class="btn btn-primary">Bookmarks</button>
                    </div>
                </div>
-->
            </div>
            <div id="mapOpts" class="tools collapse">
                <!--
                <div class="row">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group pad-s" role="group">
                            <button type="button" class="btn btn-default">Data Collections</button>
                        </div>
                        <div class="btn-group pad-s" role="group">
                            <button type="button" class="btn btn-default">Time Restrictions</button>
                        </div>

                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group pad-s" role="group">
                            <button type="button" class="btn btn-default">Pricing</button>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group pad-s" role="group">
                            <button type="button" class="btn btn-default">Weekday
                                <br/> Occupancy</button>
                        </div>
                        <div class="btn-group pad-s" role="group">
                            <button type="button" class="btn btn-default">Weekend
                                <br/> Occupancy</button>
                        </div>

                    </div>
                </div>
-->
                <div class="row pad-top-m">
                    <div class="col-xs-4 col-md-6">
                        <div id="inventory" href="#" class="mt parkTheme">
                            <a id="inv" class="thumbnail"><img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                            </a>
                            <p>Inventory</p>
                        </div>

                    </div>
                    <div class="col-xs-4 col-md-6">
                        <div id="restrictions" href="#" class="mt parkTheme">
                            <a id="res" class="thumbnail"><img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                            </a>
                            <p>Restrictions</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6">

                        <div id="wkdayOCC" href="#" class="occ parkTheme">
                            <a id="wkday" class="thumbnail"><img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                            </a>
                            <p>Weekday Occupancy</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <div id="wkndOCC" href="#" class="occ parkTheme">
                            <a id="wknd" class="thumbnail"><img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                            </a>
                            <p>Weekend Occupancy</p>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <div id="peakOCC" href="#" class="occ parkTheme">
                            <a id="peak" class="thumbnail"><img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                            </a>
                            <p>Peak Occupancy</p>
                        </div>
                    </div>
                </div>


            </div>
            <div id="mapBasemaps" class="tools collapse">

                <div class="row pad-top-m">
                    <div class="col-xs-4 col-md-6">
                        <a id="topo" href="#" class="thumbnail bm">
                            <img src="app/images/topo_map_2.jpg" style="height: 100%; width: 100%; display: block;" alt="Topo">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-6">

                        <a id="gray" href="#" class="thumbnail bm">
                            <img src="app/images/light_gray_canvas.jpg" style="height: 100%; width: 100%; display: block;" alt="Light Gray">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <a id="osm" href="#" class="thumbnail bm">
                            <img src="app/images/osm.jpg" style="height: 100%; width: 100%; display: block;" alt="OSM">
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-6">
                        <a id="hybrid" href="#" class="thumbnail bm">
                            <img src="app/images/imagery_labels.jpg" style="height: 100%; width: 100%; display: block;" alt="Satelite">
                        </a>
                    </div>

                </div>


            </div>
            <div id="mapLayers" class="tools collapse">

                <div class="container">

                    <p>
                        <input id="StudyLayerSwitch" type="checkbox" data-size="mini" name="studyAreasFL" checked="true">
                        <span class="pad-left-m LayerLBLs">Study Areas</span>
                    </p>
                    <p>
                        <input id="PDALayerSwitch" type="checkbox" data-size="mini" name="PDA_FL">
                        <span class="pad-left-m LayerLBLs">PDAs</span>
                    </p>
                    <p>
                        <input id="PlaceLayerSwitch" type="checkbox" data-size="mini" name="COC_FL">
                        <span class="pad-left-m LayerLBLs">Communities of Concern</span>
                    </p>
                    <p>
                        <input id="FerryTerminalsSwitch" type="checkbox" data-size="mini" name="FerryTerminalsFL">
                        <span class="pad-left-m LayerLBLs">Ferry Terminals</span>
                    </p>
                    <p>
                        <input id="ParknRideLotsSwitch" type="checkbox" data-size="mini" name="ParknRideLotsFL">
                        <span class="pad-left-m LayerLBLs">Park'n'Ride Lots</span>
                    </p>
                    <p>
                        <input id="RailStationsSwitch" type="checkbox" data-size="mini" name="RailStationsFL">
                        <span class="pad-left-m LayerLBLs">Rail Stations</span>
                    </p>
                    <p>
                        <input id="TransitHubsSwitch" type="checkbox" data-size="mini" name="TransitHubsFL">
                        <span class="pad-left-m LayerLBLs">Transit Hubs</span>
                    </p>
                    <p>
                        <input id="TPAsSwitch" type="checkbox" data-size="mini" name="TPAsFL">
                        <span class="pad-left-m LayerLBLs">Transit Priority Areas</span>
                    </p>
                    
                </div>
            </div>
            <div id="mapPrint" class="tools collapse">
                <div class="container">
                    <div class="row">
                        <span>Map Print Tools will be displayed here as a form.</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Code Snippets
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Zoom Drag</button>
  
  <button type="button" class="btn btn-default">Full Extent</button>
        <button type="button" class="btn btn-default">Bookmarks</button>
</div>
<div id="wrapper" class="active">
                
                <div id="sidebar-wrapper">
                    <div class="nav-side-menu">
                        <div class="brand"><span id="main_icon" class="fa fa-align-justify fa-fw"></span>Map Tools
                        </div>
                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li data-toggle="collapse" data-target="#dataOptions" class="collapsed">
                                    <a><i class="fa fa-ellipsis-h fa-lg fa-fw"></i> Data Options <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="dataOptions">
                                    <li id="Opt1">
                                        <a><i class="sub_icon fa fa-list-ol fa-fw"></i>Data By Jurisdiction</a>
                                    </li>
                                    <li id="Opt2">
                                        <a><i class="sub_icon fa fa-hand-pointer-o fa-fw"></i>Custom Zones</a>
                                    </li>
                                    <li id="Opt3">
                                        <a><i class="sub_icon fa fa-subway fa-fw"></i>Transit Stations</a>
                                    </li>
                                    <li id="Opt4">
                                        <a><i class="sub_icon fa fa-map-marker fa-fw"></i>Marker Location</a>
                                    </li>

                                </ul>

                                <li data-toggle="collapse" data-target="#nav" class="collapsed">
                                    <a><i class="fa fa-map fa-lg fa-fw"></i> Map Navigation <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="nav">
                                    <li id="pan">
                                        <a><i class="sub_icon fa fa-hand-paper-o fa-fw"></i>Pan</a>
                                    </li>

                                    <li id="zw">
                                        <a><i class="sub_icon fa fa-object-group fa-fw"></i>Zoom Window</a>
                                    </li>

                                    <li id="zf">
                                        <a><i class="sub_icon fa fa-object-group fa-fw"></i>Zoom Features</a>
                                    </li>
                                </ul>
                                <li data-toggle="collapse" data-target="#bmaps" class="collapsed">
                                    <a href="#"><i class="fa fa-globe fa-lg"></i> Basemaps <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="bmaps">
                                    <li id="Gray">
                                        <a><i class="fa fa-th-large"></i>Gray</a>
                                    </li>
                                    <li id="DarkGray">
                                        <a><i class="fa fa-th-large"></i>Dark Gray</a>
                                    </li>
                                    <li id="Imagery">
                                        <a><i class="fa fa-th-large"></i>Imagery</a>
                                    </li>
                                </ul>
                                <li data-toggle="collapse" data-target="#lt" class="collapsed">
                                    <a href="#"><i class="fa fa-th-list fa-lg"></i> Layer Toggle <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="lt">
                                    <li>
                                        <a data-value="study" tabIndex="-1">
                                            <span class="toggle_icon"><input type="checkbox" /></span><span class="toggle_icon">Study Areas</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="places" tabIndex="-1">
                                            <span class="toggle_icon"><input type="checkbox" /></span> <span class="toggle_icon">Places</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="cocss" tabIndex="-1">
                                            <span class="toggle_icon"><input type="checkbox" /></span><span class="toggle_icon">Communities of Concern</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="pdas" tabIndex="-1">
                                            <span class="toggle_icon"><input type="checkbox" /></span><span class="toggle_icon">Priority Development Areas</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-value="transit" tabIndex="-1">
                                            <span class="toggle_icon"><input type="checkbox" /></span> <span class="toggle_icon">Transit System</span>
                                        </a>
                                    </li>
                                </ul>

                                <li>
                                    <a id="printMap"><i class="fa fa-print"></i>Print Map</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
-->