<section id="feedback-section">

    <!-- Content Area -->
    <div class="">

        <!-- Page header -->
        <div class="site-header text-center">
            <div class="overlay">
                <h3>Leave Us</h3>
                <h3>Feedback</h3>
            </div>
        </div>

        <!-- Content -->
        <div class="pad-top-l ma-top-l home-text container">
	        
            <div id="feedbackSuccess" class="collapse alert alert-success fade absol">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4>Thanks for Your Feedback!</h4>
            </div>
            <div id="feedbackFailure" class="collapse alert alert-danger fade absol zTop">
                <button type="button" class="close closefail" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4>Oops...</h4>
                <p> There was an error submitting your feedback.</p>
                <p>Please try again.</p>
            </div>
            <div id="SubmitFeedback" class="container">
                <h1 class="col-md-4">&nbsp;</h1>
                <h2 class="col-md-8">Submit Your Feedback</h2>

                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal pad-top-l">
                            <fieldset>
                                <!-- Study Area Search-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="StudyAreaSearch">Feedback Category</label>
                                    <div class="col-md-6">

                                        <input id="feedbackCategory" type="text" ng-model="feedbackCat" placeholder="eg. General Feedback" class="form-control input-md find-feedback" required="" name="City" list="feedbackCat-list">
                                        <datalist id="feedbackCat-list">
                                            <option value="General Feedback">
                                            <option value="Site Page: Research & Policies">
											<option value="Site Page: Parking Data">
                                            <option value="Site Page: Parking Map">
                                            <option value="Site Page: Help">
                                        </datalist>
                                        <p class="help-block">Select a Category that best describes your Feedback</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="FeedbackType">Feedback Type</label>
                                    <div class="col-md-6">

                                        <input id="feedbackType" type="text" ng-model="feedbackType" placeholder="eg. Bug, Enhancement Request" class="form-control input-md" required="" list="ft-list">
                                        <datalist id="ft-list">
                                            <option value="Application Bug">
                                                <option value="Enhancement Request">
                                        </datalist>

                                    </div>
                                </div>

                                <!-- Collection Year -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="selectCollectionYear">Feedback Comment</label>
                                    <div class="col-md-6">
                                        <textarea id="feedbackComment" class="form-control" rows="5" ng-model="feedbackComment"></textarea>
                                        <p class="help-block">&nbsp;</p>
                                    </div>

                                    <div class="row pad-top-l">
                                        <label class="col-md-4 control-label">&nbsp;</label>
                                        <div class="col-md-8 pull-left">

                                            <button id="submitFeedbackBTN" type="button" class="btn btn-default btn-sm" ng-click="">
                                                <span class="fa fa-envelope fa-fw" aria-hidden="true"></span>Submit Feedback
                                            </button>
                                            
                                            <span>
	                                            <h2 class="color-blue feedback-message">{{ feedbackMessage }}</h2>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>