node_modules
.tmp
bower_components
client/dist

.DS_Store

projectFilesBackup

.idea
target
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
target/*
zip/*
dist/*
*.less

client/app/app.less

*.less

UnusedCode.html
