#help-section {    
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .site-header {
        margin-top: 50px;
        height: 250px;
        background-image: url('images/bartOaklandConnectorparking.jpg');
        background-size: cover;
        background-position: 50% 25%;
        .overlay {
            padding-top: 20px;
            h3:last-child {
                color: white;
            }
        }
    }
}