<nav-template class="absol hidden"></nav-template>
<nav-template-large></nav-template-large>

<section id="database-section">

    <!-- Content Area -->
    <div class="container">

        <!-- Page header -->
        <div class="site-header text-center">

            <h3>Parking</h3>
            <h3>Data</h3>

        </div>
        <div class="pad-top-l">&nbsp;</div>
        <div id="DataSummary" class="divFade InfoSummaryBG">
            <h1 class="col-md-4">&nbsp;</h1>
            <h2 class="col-md-8">Data Summary Options</h2>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal pad-top-l">
                        <fieldset>
                            <!-- Study Area Search-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="StudyAreaSearch">Study Area</label>
                                <div class="col-md-6">

                                    <input id="StudyAreaSearch" type="text" placeholder="eg. Walnut Creek" class="form-control input-md find-studyarea" required="" name="City" list="studyareas-list">
                                    <datalist id="studyareas-list"></datalist>
                                    <p class="help-block">Choose a Study Area</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="ParkingTypeSearch">Select Parking Type</label>
                                <div class="col-md-6">

                                    <input id="ParkingTypeSearch" type="text" placeholder="eg. On-Street, Off-Street, Both" class="form-control input-md" required="" list="pt-list">
                                    <datalist id="pt-list">
                                        <option value="On-Street">
                                            <option value="Off-Street">
                                                <option value="Both On/Off-Street">
                                    </datalist>
                                    <!--                                    <p class="help-block">&nbsp;</p>-->
                                </div>
                            </div>

                            <!-- Collection Year -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectCollectionYear">Collection Year</label>
                                <div class="col-md-6">
                                    <input id="selectCollectionYear" name="collectionYear" placeholder="eg. 2015" class="form-control input-md" required="" type="text" list="collectionyear-list">
                                    <datalist id="collectionyear-list"></datalist>
                                    <p class="help-block">&nbsp;</p>
                                </div>

                                <!-- Multiple Checkboxes (inline) -->
                                <div class="form-group">
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="col-md-4 control-label">Summary Categories</label>
                                            <div class="col-md-6">

                                                <label class="checkbox-inline">
                                                    <input name="ShowAll" type="checkbox" data-size="mini"> Show All
                                                </label>
                                            </div>

                                        </div>
                                        <div class="controls">
                                            <label class="col-md-4 control-label">&nbsp;</label>
                                            <div class="col-md-6">
                                                <label class="checkbox-inline control-label" style="padding-right: 104px">
                                                    <input name="Pricing" type="checkbox" data-size="mini"> Pricing
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input name="Supply" type="checkbox" data-size="mini"> Parking Supply
                                                </label>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <label class="col-md-4 control-label">&nbsp;</label>
                                            <div class="col-md-6">
                                                <label class="checkbox-inline control-label" style="padding-right: 35px">
                                                    <input name="Restrictions" type="checkbox" data-size="mini"> Time Restrictions
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input name="SpaceTypes" type="checkbox" data-size="mini"> Type of Parking Spaces
                                                </label>


                                            </div>
                                        </div>
                                        <div class="controls">
                                            <label class="col-md-4 control-label">&nbsp;</label>
                                            <div class="col-md-6">
                                                <label class="checkbox-inline" style="padding-right: 13px">
                                                    <input name="WDOccupancy" type="checkbox" data-size="mini"> Weekday Occupancy
                                                </label>

                                                <label class="checkbox-inline">
                                                    <input name="WEOccupancy" type="checkbox" data-size="mini"> Weekend Occupancy
                                                </label>
                                            </div>
                                        </div>
                                        <div class="controls">

                                            <label class="col-md-4 control-label">&nbsp;</label>
                                            <div class="col-md-6">
                                                <label class="checkbox-inline control-label" style="padding-right: 45px">
                                                    <input name="Resources" type="checkbox" data-size="mini"> Additional Resources
                                                </label>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row pad-top-l">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8 pull-left">
                                        <button id="vwDataBTN" type="button" class="btn btn-default btn-sm">
                                            <span class="fa fa-download fa-fw" aria-hidden="true"></span>Show Data
                                        </button>
                                        <button id="dlDataBTN" type="button" class="btn btn-default btn-sm">
                                            <span class="fa fa-download fa-fw" aria-hidden="true"></span>Download Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


        <div id="DataTable" class="collapse divFade InfoSummaryBG">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <button id="vwOptionsBTN" type="button" class="btn btn-primary btn-sm">
                                    <span class="fa fa-cog fa-fw" aria-hidden="true"></span>Back to Options
                                </button>
                                <button id="dlDataBTN" type="button" class="btn btn-primary btn-sm">
                                    <span class="fa fa-download fa-fw" aria-hidden="true"></span>Download Data
                                </button>
                            </div>
                            <h2 class="panel-title pad-bottom-m">Selected Data</h2>
                        </div>
                        <div class="panel-body">
                            <!-- Data table -->
                            <div id="GeneralInfo">
                                <h3>General Information</h3>
                                <table class="table table-hover" ng-repeat="summary in geninfoData">
                                    <tr>
                                        <td>
                                            <h4>Study Area Name:</h4>
                                            <span><p>{{summary.Name}}</p></span>
                                        </td>
                                        <td>
                                            <h4>City Name:</h4>
                                            <span><p>{{summary.City}}</p></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>Project Title:</h4>
                                            <span><p>{{summary.Title}}</p></span>
                                        </td>
                                        <td>
                                            <h4>Project Year:</h4>
                                            <span><p>{{summary.CollectionYear}}</p></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4>Consultant Name:</h4>
                                            <span><p>{{summary.Consultant}}</p></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4>Project Notes:</h4>
                                            <span><p>{{summary.Notes}}</p></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4>Cost Description:</h4>
                                            <span><p>No Value</p></span>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <div id="ParkingSupply" class="collapse">
                                <h3>Parking Supply</h3>
                                <table class="table table-hover">
                                    <tr>
                                        <td style="vertical-align:middle" rowspan="2">Total number of spaces
                                            <br />where data was collected</td>
                                        <td>On-Street</td>
                                        <td>Percent</td>
                                        <td>Off-Street</td>
                                        <td>Percent</td>
                                        <td>Total</td>
                                        <td>Percent</td>
                                    </tr>
                                    <tr>
                                        <td>value</td>
                                        <td>%</td>
                                        <td>value</td>
                                        <td>%</td>
                                        <td>value</td>
                                        <td>%</td>

                                    </tr>
                                </table>
                            </div>
                            <div id="SpaceType" class="collapse">
                                <h3>Type of Parking Spaces</h3>
                            </div>
                            <div id="PricingInfo" class="collapse">
                                <h3>Pricing Information</h3>
                            </div>
                            <div id="RestrictionInfo" class="collapse">
                                <h3>Time Restriction Information</h3>
                            </div>
                            <div id="WDOccInfo" class="collapse">
                                <h3>Weekday Occupancy Information</h3>
                            </div>
                            <div id="WEOccInfo" class="collapse">
                                <h3>Weekend Occupancy Information</h3>
                            </div>
                            <div id="AddtnlResources" class="collapse">
                                <h3>Additional Resources</h3>
                            </div>
                            <!--
                                <table class="table table-bordered">
	                                <thead>
		                                <tr>
											<th>Study Area</th>
											<th>Collection Date</th>
											<th>City Name</th>
											<th>Block Faces</th>
											<th>Number Of Spaces</th>
											<th>Number Of Facilities</th>
											<th>Number Of Off Spaces</th>
	                                </thead>
									<tbody>
										<tr ng-repeat="database in test">
								            <td>
								                {{database.studyArea}}
								            </td>
								            <td>
								                {{database.collectionDate}}
								            </td>
								            <td>
								                {{database.cityName}}
								            </td>
								            <td>
								                {{database.blockFaces}}
								            </td>
								            <td>
								                {{database.numberOfSpaces}}
								            </td>
								            <td>
								                {{database.numberOfFacilities}}
								            </td>
								            <td>
								                {{database.numberOfOffSpaces}}
								            </td>
								        </tr>
									</tbody>
							    </table>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Content -->
</section>