#database-section {
    //background-image: url('images/parking-lot.png');
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .content-wrapper {
        height: 1000px;
    }
    .site-header {
        background-image: url('images/emptyLot.jpg');
        background-position: 50% 41%;
        margin-top: 50px;
        height: 250px;
        .overlay {
            padding-top: 20px;
            h3:last-child {
                color: white;
            }
        }
    }
    .doptionsLBL {
        display: inline;
        width: 50%;
    }
    .bootstrap-switch{
	    margin-right: 15px;
	    margin-bottom: 5px;
    }
}

.InfoSummaryBG {
    background-color: #fff;
    opacity: .85;
}

#DataTable {
    display: none;
    height: 100%;
    .panel{
	    margin-bottom: 150px;
    }
}

#InventorySummary {
    display: none;
    height: 100%;
}

#ParkingSupply {
    //    display: none;
}

#SpaceType {
    //display: none;
}

#PricingInfo {
    //display: none;
}

#RestrictionInfo {
    //display: none;
}

#WDOccInfo {
    //display: none;
}

#WEOccInfo {
    //display: none;
}

#AddtnlResources {
    //display: none;
}