#database-section {
    //background-image: url('images/parking-lot.png');
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .site-header {
        margin-top: 120px;
    }
    .jumbotron {
        h1 {
            //            border-bottom: 1px solid black;
            color: #E41A2C;
            font-weight: 800;
        }
        p {
            color: #003869;
        }
    }
    .doptionsLBL {
        display: inline;
        width: 50%;
    }
}

.InfoSummaryBG {
    background-color: #fff;
    opacity: .85;
}