<nav-template></nav-template>
<section id="home-section">

    <!-- Page header -->
    <div class="contatiner pad-left-l pad-right-l pad-top-l">
        <div class="jumbotron">
            <h1 class="pad-bottom-l ma-bottom-l">MTC&#8217;s VPP Parking Project</h1>
            <p>The Value Pricing Pilot (VPP) Parking Pricing Regional Analysis Project is part of MTC&#8217;s 2014-2015 Parking Initiative. As part of this project, eleven policy questions are addressed through a range of best practices, case studies, technical analysis, and expert panel review. This site documents the research and findings for those eleven policy questions.</p>
            <p>This Project is a two year regional initiative led by MTC, made possible by a $560,000 grant from the Federal Highway Administration (FHWA) through the VPP Program, which supports research and implementation of pricing approaches to address transportation issues. Key partners include FHWA, the California Department of Transportation (Caltrans), the Association of Bay Area Governments (ABAG), local jurisdictions, transit agencies, congestion management agencies, the development and business communities, and community stakeholders.</p>
            <p><a class="btn btn-primary btn-lg" href="#/research" role="button">Parking Research</a>
            </p>
        </div>
        <div class="row pad-top-l pad-left-l pad-right-l text-center">
            <div class="col-md-3">
                <p>
                    <a href="https://parkingpolicy.files.wordpress.com/2015/02/fhwa.png"><img class="alignleft  wp-image-310" src="https://parkingpolicy.files.wordpress.com/2015/02/fhwa.png?w=276&#038;h=69" alt="FHWA" width="276" height="69" />
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <a href="https://parkingpolicy.files.wordpress.com/2015/02/ct_logo_trans.gif"><img class="wp-image-311 alignleft" src="https://parkingpolicy.files.wordpress.com/2015/02/ct_logo_trans.gif?w=226&#038;h=174" alt="ct_logo_trans" width="226" height="174" />
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <a href="https://parkingpolicy.files.wordpress.com/2015/02/abag_logo.gif"><img class="alignleft  wp-image-312" src="https://parkingpolicy.files.wordpress.com/2015/02/abag_logo.gif?w=252&#038;h=124" alt="ABAG_LOGO" width="252" height="124" />
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <a href="https://parkingpolicy.files.wordpress.com/2015/02/mtc_logo.png"><img class="wp-image-313 alignleft" src="https://parkingpolicy.files.wordpress.com/2015/02/mtc_logo.png?w=158&#038;h=158" alt="MTC_logo" width="158" height="158" />
                    </a>
                </p>
            </div>
        </div>






    </div>

    <!-- Content -->
</section>

<!-- .entry-content -->