<!-- NAV Directive -->
<nav-template class="absol hidden"></nav-template>

<section id="home-section">
    <div class="overlay">

       <!-- Page header -->
        <div class="site-header text-center navbar-fixed-top">
            <div class="overlay">
                <h3>MTC's</h3>
                <h3>VPP Parking Project</h3>
            </div>
        </div>

        <!-- Content -->
        <div class="pad-top-l pad-bottom-l home-text ">
	        <div class="container">
		        <h2 class="page-header">The Value Pricing Pilot</h2>
	            <p class="lead">
	                The Value Pricing Pilot (VPP) Parking Pricing Regional Analysis Project is part of MTC&#8217;s 2014-2015 Parking Initiative. As part of this project, eleven policy questions are addressed through a range of best practices, case studies, technical analysis, and expert panel review. This site documents the research and findings for those eleven policy questions.
	            </p>
	            <p class="lead">
	                This Project is a two year regional initiative led by MTC, made possible by a $560,000 grant from the Federal Highway Administration (FHWA) through the VPP Program, which supports research and implementation of pricing approaches to address transportation issues. Key partners include FHWA, the California Department of Transportation (Caltrans), the Association of Bay Area Governments (ABAG), local jurisdictions, transit agencies, congestion management agencies, the development and business communities, and community stakeholders.
	            </p>
	            <div class="row pad-top-l pad-left-l pad-right-l text-center">
	                <div class="col-md-12">
	                    <p>
	                        <a href="/app/images/mtc_logo.png"><img class="wp-image-313 alignleft" src="/app/images/mtc_logo.png" alt="MTC_logo"></a>
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>
        


    </div>
</section>
