#home-section {
    //background-image: url('images/parking-lot.png');
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
	.site-header{
		background-image: url('images/cropped-parking-e1421692177386.jpg');
		background-size: cover;
        margin-top: 50px;
		height: 250px;
		.overlay{
			padding-top: 20px;
			h3:last-child{
				color:white;
			}
		}
	}
    .home-text{
	    p{
		    font-size: 1em;
			color: @anchorColor;
	    } 
    }
}