<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VPP Parking Database API</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
    <!--
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

    </div>
</nav>
-->
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>VPP Parking Database API</h1>
                <p class="lead">
                    The Value Pricing Pilot (VPP) Parking Pricing Regional Analysis Project is part of MTC&#8217;s 2014-2015 Parking Initiative. As part of this project, eleven policy questions are addressed through a range of best practices, case studies, technical analysis, and expert panel review. This site documents the research and findings for those eleven policy questions.
                </p>
                <p class="lead">
                    This Project is a two year regional initiative led by MTC, made possible by a $560,000 grant from the Federal Highway Administration (FHWA) through the VPP Program, which supports research and implementation of pricing approaches to address transportation issues. Key partners include FHWA, the California Department of Transportation (Caltrans), the Association of Bay Area Governments (ABAG), local jurisdictions, transit agencies, congestion management agencies, the development and business communities, and community stakeholders.
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>




        </div>
    </div>
</body>

</html>