.footer {
    border-top: 1px solid gray;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #003869;
    color: #fff !important;
    .action-links {
        a {
            padding: 15px;
            color: #fff !important;
        }
    }
}