.footer {
    border-top: 2px solid @mainColor;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @mainBgColor;
    //color: #ffffff;
    color: @mainColorDark;
    address{
	    margin-bottom: 0;
    }
    .action-links {
	    .footer-link{
		    color: @anchorColor;
		    font-size: 1em;
		    padding: 15px;
	    }
    }
}