body,
html {
    height: 100%;
    width: 100%;
}

body {
    //background: -webkit-linear-gradient(rgba(153,155,156,0.75) 0%, #ffffff 100%);
}
.view-wrapper{
	height: 100%;
    width: 100%;
}
#splash-screen {
	background-image: url('images/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
    .enter-site {
        margin-top: 200px;
        .enter-wrapper {
            background-color: rgba(49, 49, 49, 0.8);
            .header-text {
                color: white;
                font-family: 'Antic';
                border-top: 1px solid #333333;
            }
        }
    }
}