.view-wrapper {
    height: 100%;
    width: 100%;
}
.header-text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
}
#splash-screen {
    //background-image: url('images/parking-lot.png');
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    .enter-site {
        margin-top: 200px;
        .enter-wrapper {
            opacity: 1;
            //background-color: rgba(49, 49, 49, 0.4);
            .header-text {
                //text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                ;
                border-top: 1px solid #333333;
                color: #fff;
                text-align: center;
                text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
            }
        }
    }
    .logo-header{
	    margin-top: 200px;
	    .vpp-logo{
		    margin-top: 65px;
	    }
    }
    .vpp-links{
		padding-right: 50px;
	}
}