#map-nav {
    background-color: @mainBgColor;
    border-bottom: 3px solid @mainColor;
    color: #ffffff;
    .icon-bar{
	    color: #ffffff;
	    background-color: white;
    }
    .navbar-brand{
	    color: @anchorColor;
	    .nav-logo{
		    color: #ffffff;
		    background-color: @anchorColor;
		    padding-left: 5px;
		    padding-right: 5px;
	    }
    }
	    
}
