<nav id="map-nav" class="nav navbar-vpp navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inner-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<a class="navbar-brand" href="#/home"><span class="nav-logo">V</span>alue Pricing Pilot</a> -->
            <a class="navbar-brand navbar-brand-centered " href="#/home"><span class="nav-logo">V</span> PP</a>
        </div>
        <div id="inner-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/home" ng-click="active($event)" id="home" class="active">Home</a>
                </li>
                <li class="inner-nested">
                    <a href="#/research" ng-click="active($event)" name="research" class="reseach-link">Research & Policies</a>
                    <ul class="absol zTop inner-ul research-nav hidden">
	                    <li>
	                    	<a href="#" id="resEmployeeProgramMI" class="divControl vpp-links-inner employees-nav">Employees Programs</a>
	                    </li>
	                    <li>
	                    	<a href="#" id="resRegPricingPolMI" class="vpp-links-inner divControl employees-nav">Regional Parking Policies</a>
	                    </li>
	                    <li>
	                    	<a href="#" id="resEnactingPricingPolicies" class="vpp-links-inner divControl employees-nav">Enacting Pricing Policies</a>
	                    </li>
	                    <li>
	                    	<a href="#" id="resResources" class="vpp-links-inner divControl">Resources</a>
	                    </li>
	                    <li class="aside-li-1">
	                    	<a href="#" id="resPolicyQuestions" class="vpp-links-inner divControl">Policy Questions</a>
	                    	<ul class="nav-inner-nested zTop absol pull-right">
								<li>
									<a href="#" id="policy-overview" class="vpp-links-inner-2">Overview</a>
								</li>
								<li>
									<a href="#" class="vpp-links-inner-2">Bay Area UrbanSim</a>
								</li>
								<li>
									<a href="#" class="vpp-links-inner-2">Travel Model One</a>
								</li>
								<li>
									<a href="#" class="vpp-links-inner-2">Key Definitions</a>
								</li>
							</ul>
	                    </li>
	                    <li class="aside-li-2">
	                    	<a href="#" id="resSupplyDemand" class="vpp-links-inner divControl">Supply & Demand</a>
	                    	<ul class="nav-inner-nested  zTop absol">
								<li>
									<a href="#" class="vpp-links-inner-2">Overview</a>
								</li>
								<li>
									<a href="#" class="vpp-links-inner-2">Regional Parking</a>
								</li>
							</ul>
	                    </li>
	                    <li>
	                    	<a href="#" id="resParkingReqmntsUnbundling"class="vpp-links-inner divControl">PR & Unbundling</a>
	                    </li>
	                    <li class="aside-li-3">
	                    	<a href="#" id="resTravelModelOneAnalysis" class="vpp-links-inner divControl" >Parking Structure</a>
	                    	<ul class="nav-inner-nested  zTop absol">
								<li>
									<a href="#/" class="vpp-links-inner-2">Travel Model One Analysis</a>
								</li>
							</ul>
	                    </li>
                    </ul>
                </li>
                <li class="inner-nested">
                    <a href="#/database" ng-click="active($event)" class="vpp-links-inner" name="data">Parking Data</a>
                    <ul class="absol zTop inner-ul data-nav hidden">
	                    <li>
	                    	<a href="#" id="dbSummaryMI" class="divControl vpp-links-inner-2">Summary</a>
	                    </li>
	                    <li>
	                    	<a href="#" id="dbInventoryMI" class="divControl vpp-links-inner-2">Inventory</a>
	                    </li>
	                    <li>
	                    	<a href="#" id="dbOccupancyMI" class="divControl vpp-links-inner-2">Occupancy</a>
	                    </li>
	                    <li class="aside-li-4">
	                    	<a href="#" class="vpp-links-inner divControl" >Data Development</a>
	                    	<ul class="nav-inner-nested zTop absol pull-left">
								<li>
									<a href="#" id="dbOverviewMI" class="divControl vpp-links-inner-2">Overview</a>
								</li>
								<li>
									<a href="#" class="divControl vpp-links-inner-2">Data Dictionary</a>
								</li>
								<li>
									<a href="#" class="divControl vpp-links-inner-2">Download Database</a>
								</li>
							</ul>
	                    </li>
	                </ul>
                </li>
                <li>
                    <a href="#/map" ng-click="active($event)" >Parking Map</a>
                </li>
                <li class="hidden">
                    <a href="#/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>