#main-nav{
	width: 200px;
	margin-left: 20px;
	margin-top: 200px;
	position: fixed;
	.logo-wrapper{
		border-bottom: 2px solid @mainColor;
		.nav-sub-header{
			color: #ffffff;
			font-size: 1.6em;
			font-weight: 100;
		}
	}
	.nav-list{
		padding-left: 0;
		.show-inner{
			.nav-list-inner{
				opacity: 1;
				height: 250px;
			}
		}
		.nav-list-inner{
			text-align: right;
			width: 200px;
			height: 0px;
			overflow: hidden;
			opacity: 0;
			.transition(all 1s ease);
			.vpp-links-inner{
				color: @anchorColor;
				font-size: 15px;
				font-weight: 100;
				padding-left: 15px;
				.transition(all 1s ease);
				&:hover{
					text-decoration: none;
					color: #ffffff;
					cursor: pointer;
				}
			}	
		}
	}
}
