.navbar-vpp {
    background-color: #003869 !important;
    border-color: #003869 !important;
    color: #fff !important;
}

#main-nav{
	width: 200px;
	margin-left: 20px;
	margin-top: 250px;
	position: fixed;
	.logo-wrapper{
		border-bottom: 2px solid @mainColor;
		.nav-sub-header{
			color: #ffffff;
			font-size: 1.6em;
			font-weight: 100;
		}
	}
	.nav-list{
		padding-left: 0;
	}
}
