<nav-template class="absol hidden"></nav-template>
<nav-template-large></nav-template-large>
	
<section id="about-section">
	
	<!-- Content Area -->
    <div class="container">
    	
    	<!-- Page header -->
    	<div class="site-header text-center">
	    	
	    	<h3>About</h3>
	    	<h3>Site.</h3>
	    	
    	</div>
    	
    	<!-- Content -->
    	<div class="pad-top-l home-text">
			
    	</div>  
        
    </div>
    <!-- Page header -->
    <div class="contatiner hidden">
        <div class="row jumbotron text-center ma-bottom-0">
            <h1 class="pad-bottom-l ma-bottom-l">About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <nav class="navbar navbar-vpp text-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <ul class="nav navbar-nav-research">

                            <li><a href="#">Intro and Purpose</a>
                            </li>
                            <li><a href="#">User Guide</a>
                            </li>
                            <li><a href="#">Project Team</a>
                            </li>
                            <li><a href="#">Contacts</a>
                            </li>



                        </ul>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <!-- Content -->
</section>