<nav-template class="absol hidden"></nav-template>
<nav-template-large></nav-template-large>
<section id="about-section">
    <!-- Content Area -->
    <div class="">
        <!-- Page header -->
        <div class="site-header text-center navbar-fixed-top">
            <div class="overlay">
                <h3>About </h3>
                <h3>Site.</h3>
            </div>
        </div>
        <!-- Content -->
        <div class="pad-top-l about-text container ">
            <!-- Page header -->
            <!--
            <div class="row pad-top-l pad-left-l pad-right-l text-center">

                <div class="col-md-4">
                    <p>
                        <a href="/app/images/fhwa.png"><img class="alignleft wp-image-310" src="/app/images/fhwa.png" alt="FHWA"></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/app/images/ct_logo_trans.gif"><img class="wp-image-311 alignleft" src="/app/images/ct_logo_trans.gif" alt="ct_logo_trans"></a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/app/images/abaglogo.jpg"><img class="alignleft wp-image-312" src="/app/images/abaglogo.jpg" alt="ABAG_LOGO"></a>
                    </p>
                </div>


            </div>
-->
            <div class="row pad-top-l pad-left-l pad-right-l text-center divFade">
                <div class="col-md-2">
                    <p>
                        &nbsp;
                    </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <a href="/app/images/mtc_logo.png"><img class="wp-image-313 alignleft" src="/app/images/mtc_logo.png" alt="MTC_logo">
                        </a>
                    </p>
                </div>
                <div class="col-md-2">
                    <p>
                        &nbsp;
                    </p>
                </div>
            </div>
            <div class="row pad-top-l pad-left-l pad-right-l divFade">
                <div class="col-md-9">
                    <p class="pad-bottom-l">
                        <h4>
                        <b>MTC Project Manager:</b>  Valerie Knepper
                    </h4>
                    </p>
                    <p class="pad-bottom-l">
                        <h4>
                        <b>CDM Smith Project Leads:</b>  Kelly Clonts, Terri O’Connor
                    </h4>
                    </p>
                    <p class="pad-bottom-l">
                        <h4>
                        <b>MTC Technical Staff:</b>  Solana Foo, Kearey Smith, Michael Reilly, and David Ory
                    </h4>
                    </p>
                    <p class="pad-bottom-l">
                        <h4>
                        <b>CDM Smith Project Analysts:</b>  David Chew, Ted Huynh, Fabian Gallardo
                    </h4>
                    </p>
                    <p class="pad-bottom-l">
                        <h4>
                        <b>Land Use Modeling:</b>  Synthicity
                    </h4>
                    </p>
                    <p class="pad-bottom-l">
                        <h4>
                        <b>Outreach:</b>  Daniller Consulting
                    </h4>
                    </p>
                    <p class="pad-top-l lead">
                        <h4>Special thanks to 
                            <a href="http://www.transformca.org/">TransFORM</a> 
                            and parking policy experts Donald Shoup, Elizabeth Deakin, Todd Litman, Meea Kang, and Richard Willson.
                        </h4>
                    </p>
                </div>
                <div class="col-md-3 divFade">
                    <p>
                        &nbsp;
                    </p>
                </div>
            </div>
        <!-- Content -->
</section>
