<nav-template class="absol hidden"></nav-template>
<nav-template-large></nav-template-large>
<section id="about-section">
    <!-- Content Area -->
    <div class="">
        <!-- Page header -->
        <div class="site-header text-center">
            <div class="overlay">
                <h3>About </h3>
                <h3>Site.</h3>
            </div>
        </div>
        <!-- Content -->
        <div class="pad-top-l about-text container ">
            <div class="row faqs-wrapper">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        <a href="#" class="help-links">FAQS</a>
                    </h2>
                    <h4>All the FAQS go here!</h4>
                </div>
            </div>
        </div>
        <!-- Content -->
</section>
